.my-activity-page {

}

.my-activity-left {
  float: left;
  width: 66%;
  padding-right: 10px;
  box-sizing: border-box;
}

.my-activity-right {
  float: left;
  width: 34%;
  padding-left: 10px;
  box-sizing: border-box;
}


/* TODO: extract */
.boxed-group {
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #fff;
}

.boxed-group > h2 {
  padding: 20px 20px 0;
}

.boxed-group-inner {
  padding: 20px;
}
